<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil">INF3710 - TP4</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/table-medecin">Table des médecins</a>
        <a class="nav-item nav-link active" routerLink="/modification-medecin">Modification et création de médecins</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
