<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" >INF3710 - TP4</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="https://github.com/Jerememes/3710" matTooltip="Naviguez pour voir le fichier de code" target="_blank">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>
        <a class="nav-item nav-link active" href="/" matTooltip="Retournez à l'accueil">
          <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
