<div>
  <div class="center-container">
    <a class="nav-item nav-link active btn create-doctor-btn" routerLink="/creation-medecin">Créer un médecin</a>
  </div>
  <table>
    <tr>
      <th (click)="sortByKey('idmedecin')">Id <span *ngIf="currentSortKey === 'idmedecin'" class="sort-indicator">{{ sortAscending ? '▲' : '▼' }}</span></th>
      <th (click)="sortByKey('prenom')">Prénom <span *ngIf="currentSortKey === 'prenom'">{{ sortAscending ? '▲' : '▼' }}</span></th>
      <th (click)="sortByKey('nom')">Nom <span *ngIf="currentSortKey === 'nom'">{{ sortAscending ? '▲' : '▼' }}</span></th>
      <th (click)="sortByKey('specialite')">Spécialité <span *ngIf="currentSortKey === 'specialite'">{{ sortAscending ? '▲' : '▼' }}</span></th>
      <th (click)="sortByKey('anneesexperience')">Années d'expérience <span *ngIf="currentSortKey === 'anneesexperience'">{{ sortAscending ? '▲' : '▼' }}</span></th>
      <th (click)="sortByKey('idservice')">Id services <span *ngIf="currentSortKey === 'idservice'">{{ sortAscending ? '▲' : '▼' }}</span></th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let medecin of medecins">
      <td>{{ medecin.idmedecin }}</td>
      <td>{{ medecin.prenom }}</td>
      <td>{{ medecin.nom }}</td>
      <td>{{ medecin.specialite }}</td>
      <td>{{ medecin.anneesexperience }}</td>
      <td>{{ medecin.idservice }}</td>
      <td>
        <button class="modify-btn" (click)="updateMedecin(medecin.idmedecin)">Modifier</button>
        <button class="delete-btn" (click)="deleteMedecin(medecin.idmedecin)">Supprimer</button>
      </td>
    </tr>
  </table>
</div>
